@{
    ViewData["Title"] = "Informes";
}

<div class="text-center">
    <h1 class="display-4">Informes</h1>
 <a asp-action="InformeInmuebles">Informes de Inmuebles</a>
 <br>
 <a asp-action="InformeContratos">Informes de Contratos</a>
 <br>
  
    
</div>
